<div class="container  mt-2" >
    <div class="row" style="margin:20px; place-content: center; text-align: center;">
        <!-- <h3>Ground Floor</h3> -->
        <a href="/cr/home/rooms/register/" class="box border border-dark m-2 rounded" style="text-decoration: none; background-color:rgb(189, 189, 189); height:100px; width:100px;">
            <div>
                00
            </div>
        </a>
        <a href="/cr/home/rooms/register/" class="box border border-dark m-2 rounded" style="text-decoration: none; background-color:rgb(189, 189, 189); height:100px; width:100px;">
            <div>
                01
            </div>
        </a>
        <a href="/cr/home/rooms/register/" class="box border border-dark m-2 rounded" style="text-decoration: none; background-color:rgb(189, 189, 189); height:100px; width:100px;">
            <div>
                02
            </div>
        </a>
        <a href="/cr/home/rooms/register/" class="box border border-dark m-2 rounded" style="text-decoration: none; background-color:rgb(189, 189, 189); height:100px; width:100px;">
            <div>
                03
            </div>
        </a>
        <a href="/cr/home/rooms/register/" class="box border border-dark m-2 rounded" style="text-decoration: none; background-color:rgb(189, 189, 189); height:100px; width:100px;">
            <div>
                04
            </div>
        </a>
        <div></div>
        <a href="/cr/home/rooms/register/" class="box border border-dark m-2 rounded" style="text-decoration: none; background-color:rgb(189, 189, 189); height:100px; width:100px;">
            <div>
                05
            </div>
        </a>
        <a href="/cr/home/rooms/register/" class="box border border-dark m-2 rounded" style="text-decoration: none; background-color:white; height:100px; width:330px;">
            <div>
               Seminar Hall
            </div>
        </a>
        <a href="/cr/home/rooms/register/" class="box border border-dark m-2 rounded" style="text-decoration: none; background-color:rgb(189, 189, 189); height:100px; width:100px;">
            <div>
                07
            </div>
        </a>
        <h3>Ground Floor</h3>
    </div>
    
    <div class="row" style="margin:20px; place-content: center; text-align: center;">
        <!-- <h3>Ground Floor</h3> -->
        <a href="/cr/home/rooms/register/" class="box border border-dark m-2 rounded" style="text-decoration: none; background-color:rgb(189, 189, 189); height:100px; width:100px;">
            <div>
                10
            </div>
        </a>
        <a href="/cr/home/rooms/register/" class="box border border-dark m-2 rounded" style="text-decoration: none; background-color:rgb(189, 189, 189); height:100px; width:100px;">
            <div>
                11
            </div>
        </a>
        <a href="/cr/home/rooms/register/" class="box border border-dark m-2 rounded" style="text-decoration: none; background-color:rgb(189, 189, 189); height:100px; width:100px;">
            <div>
                12
            </div>
        </a>
        <a href="/cr/home/rooms/register/" class="box border border-dark m-2 rounded" style="text-decoration: none; background-color:rgb(189, 189, 189); height:100px; width:100px;">
            <div>
                13
            </div>
        </a>
        <a href="/cr/home/rooms/register/" class="box border border-dark m-2 rounded" style="text-decoration: none; background-color:rgb(189, 189, 189); height:100px; width:100px;">
            <div>
                14
            </div>
        </a>
        <div></div>
        <a href="/cr/home/rooms/register/" class="box border border-dark m-2 rounded" style="text-decoration: none; background-color:rgb(189, 189, 189); height:100px; width:100px;">
            <div>
                15
            </div>
        </a>
        <a href="/cr/home/rooms/register/" class="box border border-dark m-2 rounded" style="text-decoration: none; background-color:white; height:100px; width:330px;">
            <div>
               Drawing Hall
            </div>
        </a>
        <a href="/cr/home/rooms/register/" class="box border border-dark m-2 rounded" style="text-decoration: none; background-color:rgb(189, 189, 189); height:100px; width:100px;">
            <div>
                17
            </div>
        </a>
        <h3>First Floor</h3>
    </div>
    <div class="row" style="margin:20px; place-content: center; text-align: center;">
        <!-- <h3>Ground Floor</h3> -->
        <a href="/cr/home/rooms/register/" class="box border border-dark m-2 rounded" style="text-decoration: none; background-color:rgb(189, 189, 189); height:100px; width:100px;">
            <div>
                20
            </div>
        </a>
        <a href="/cr/home/rooms/register/" class="box border border-dark m-2 rounded" style="text-decoration: none; background-color:rgb(189, 189, 189); height:100px; width:100px;">
            <div>
                21
            </div>
        </a>
        <a href="/cr/home/rooms/register/" class="box border border-dark m-2 rounded" style="text-decoration: none; background-color:rgb(189, 189, 189); height:100px; width:100px;">
            <div>
                22
            </div>
        </a>
        <a href="/cr/home/rooms/register/" class="box border border-dark m-2 rounded" style="text-decoration: none; background-color:rgb(189, 189, 189); height:100px; width:100px;">
            <div>
                23
            </div>
        </a>
        <a href="/cr/home/rooms/register/" class="box border border-dark m-2 rounded" style="text-decoration: none; background-color:rgb(189, 189, 189); height:100px; width:100px;">
            <div>
                24
            </div>
        </a>
        <div></div>
        <a href="/cr/home/rooms/register/" class="box border border-dark m-2 rounded" style="text-decoration: none; background-color:rgb(189, 189, 189); height:100px; width:100px;">
            <div>
                25
            </div>
        </a>
        <a href="/cr/home/rooms/register/" class="box border border-dark m-2 rounded" style="text-decoration: none; background-color:white; height:100px; width:330px;">
            <div>
               Drawing Hall
            </div>
        </a>
        <a href="/cr/home/rooms/register/" class="box border border-dark m-2 rounded" style="text-decoration: none; background-color:rgb(189, 189, 189); height:100px; width:100px;">
            <div>
                27
            </div>
        </a>
        <h3>Second Floor</h3>
    </div>
</div>